<div class="content" fxLayout="row" fxLayoutAlign="flex-start" fxLayout.lt-lg="column">
    <section fxFlex="8" class="profile-image" fxLayoutAlign.lt-lg="center">
        <img src="https://via.placeholder.com/125">
    </section>


    <section class="title-section" fxLayout="column" fxLayoutAlign="space-around" >
        <div fxLayoutAlign.lt-lg="center" routerLink="/admin" class="title">Quinn Stearns</div>
        <div fxLayoutAlign.lt-lg="center" class="subtitle">Full Stack Software Development and Cyber Security</div>
        <div fxLayoutAlign.lt-lg="center" class="nav" >
            <ul fxLayout="row">
                <li routerLink="/about-me" routerLinkActive="nav-active"><fa-icon></fa-icon><a>About Me</a></li>
                <li routerLink="/blog" routerLinkActive="nav-active"><fa-icon></fa-icon> Blog</li>
                <li routerLink="/projects" routerLinkActive="nav-active"><fa-icon></fa-icon> Projects</li>
            </ul>
        </div>
    </section>

</div>

