.content{
    background-color: #d1e7fc;
    z-index: 99;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 15px;
    margin: 0;
    width: 100%;
    min-height: 150px;
   // padding-left: 14.5%;
}

.nav{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
        }
    }
}

.nav-active{
    background-color: rgba(149, 157, 165, 0.2);
}

.profile-image{

    width: 100%;
    height: 125px;
    img{
        border-radius: 50%;
        width: 125px;
        height: 125px;
    }
}

.title{
    font-size: 32px;
}

.subtitle{
    color: #439A86;
    font-size: 18px;
}



