<div class="content" fxLayout="row">
    <section fxFlex="6.5" class="profile-image">
        <img src="https://via.placeholder.com/1024">
    </section>


    <section class="title-section" fxLayout="column" fxLayoutAlign="space-around">
        <div routerLink="/admin" class="title">Byron Stearns</div>
        <div class="subtitle">Full Stack Software Development and Cyber Security</div>
        <div class="nav" >
            <ul fxLayout="row">
                <li routerLink="/about-me" routerLinkActive="nav-active"><fa-icon></fa-icon><a>About Me</a></li>
                <li routerLink="/blog" routerLinkActive="nav-active"><fa-icon></fa-icon> Blog</li>
                <li routerLink="/projects" routerLinkActive="nav-active"><fa-icon></fa-icon> Projects</li>
            </ul>
        </div>
    </section>

</div>