<div class="content" fxLayout="row" fxLayoutAlign="space-around">
    <span class="copyright"> &copy; {{today | date : 'y'}} Byron Stearns</span>
    <div class="socials" fxLayout="column">
        <div class="socials-header">
            <h4>Find me at</h4>
        </div>
        <div fxFlex="10" class="social-sections" fxLayout="row">
            <div class="professional" >
                <h6>Professional</h6>
                <ul fxLayout="column">
                    <li><span><fa-icon [icon]="faGithub"></fa-icon></span>  <a href="https://github.com/stearnsbq" target="_blank">stearnsbq</a> </li>
                    <li><span><fa-icon [icon]="faLinkedIn"></fa-icon></span> <a href="https://www.linkedin.com/in/byron-stearns-a6308918a/" target="_blank">Byron Stearns</a> </li>
                </ul>
            </div>
            <div class="personal">
                <h6>Personal</h6>
                <ul fxLayout="column">
                    <li><span><fa-icon [icon]="faDiscord"></fa-icon></span> <span class="discord-name">quinn50</span> </li>
                    <li><span><fa-icon [icon]="faSteam"></fa-icon></span> <a href="https://steamcommunity.com/id/quinn50" target="_blank">quinn50</a> </li>
                </ul>
            </div>
        </div>
        

    </div>
</div>