<div class="content" fxLayout="column">
  <app-card>
    <h2 header>About Me & Interests</h2>
    <div body [innerHTML]="aboutMe.about"></div>
  </app-card>

  <app-card>
    <h2 header>Education</h2>
    <p body>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet
      quam arcu, quis facilisis quam imperdiet at. Sed in dignissim nunc.
      Curabitur dignissim eleifend ligula in interdum. Nunc eleifend molestie
      enim vel imperdiet.
    </p>
  </app-card>

  <app-card>
    <h2 header>Experience</h2>
    <p body>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet
      quam arcu, quis facilisis quam imperdiet at. Sed in dignissim nunc.
      Curabitur dignissim eleifend ligula in interdum. Nunc eleifend molestie
      enim vel imperdiet.
    </p>
  </app-card>

  <app-card>
    <h2 header>Certifications & Licenses</h2>
    <p body>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet
      quam arcu, quis facilisis quam imperdiet at. Sed in dignissim nunc.
      Curabitur dignissim eleifend ligula in interdum. Nunc eleifend molestie
      enim vel imperdiet.
    </p>
  </app-card>


</div>
