<div class="content" fxLayout="column">
    
    <div class="about-interests card">
        <div class="card-header">
            <h2>About Me & Interests</h2>
        </div>
        <div class="divider"></div>
    </div>

    
    <div class="education card">
        <div class="card-header">
            <h2>Education</h2>
        </div>
        <div class="divider"></div>
    </div>

    
    <div class="experience card">
        <div class="card-header">
            <h2>Expierence</h2>
        </div>
        <div class="divider"></div>
    </div>

    <div class="certs card">
        <div class="card-header">
            <h2>Certificates & Licenses</h2>
        </div>
        <div class="divider"></div>
    </div>

</div>