.card{
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.divider{
    width: 100%;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.content{
    height: 100%;
}


h2{
    color: #439A86;
}