<app-card>
    <h3 body> Filter</h3>
    <ul class="date-picker" body>
        <ng-container *ngFor="let item of [{year: '2021', months: ['April', 'May']}, {year: '2020', months: ['November', 'May']}, {year: '2019', months: ['April', 'May']}]">
            <li>
                <p routerLink="/blog/{{item.year}}">{{item.year}}</p>
                <ul [@inOutAnimation] *ngIf="router.url.includes(item.year)">
                    <li [routerLink]="['/blog', item.year, month | month]" *ngFor="let month of item.months">{{month}}</li>
                </ul>
            </li>
        </ng-container>

    </ul>
</app-card>