table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  fa-icon{
      cursor: pointer;
      border-radius: 50%;
      font-size: 22px;
      height: 100%;

  }




form{
  width: 500px;
  input{
    width: 95%;
  }
  section{
    margin: 5px;
  }
}


input{
  border: none;
  padding: 10px;
  width: 350px;
  border: 1px solid rgba($color: #000000, $alpha: 0.4);
  border-radius: 10px;

}

button {
  border: none;
  font-size: 18px;
  font-weight: 500;
  background: #0084ff;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button:hover{
  background: #0357a7;
}

.bullet-container{
  div{
    margin: 5px;
  }
}

.delete{
  color: red; 
  vertical-align: middle;
  margin-top: 5px;
}