.card-header{
    background-color: #0084ff;
    color: white;
    padding: 5px;


    h2{
        margin-left: 10px;
        font-weight: 400;
    }

}

li{
    cursor: pointer;
}


