<div *ngIf="shown" class="modal-container" fxLayout="column" fxLayoutAlign="center center" >
    <div class="modal" >

        <div class="header" fxLayout="row" fxLayoutAlign="space-between">
            <ng-content select="[header]"></ng-content>
            <fa-icon (click)="close()" [icon]="faExit"></fa-icon>
        </div>

        <div class="body">
            <ng-content select="[body]"></ng-content>
        </div>

        <div class="footer">
            <ng-content select="[footer]"></ng-content>
        </div>

        
    </div>
</div>


