<div class="manage-blog-container" fxLayout="column">


<app-card *ngIf="route.children.length === 0">

    <section header fxLayout="row" fxLayoutAlign="space-between">
        <h1 header>Posts</h1>
        <fa-icon
        [icon]="faEdit"
        routerLink="/admin/blog/new"
      ></fa-icon>
      </section>

    <table body>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Views</th>
          <th>Creation Date</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let line of posts; let i = index">
          <ng-container>
            <td>{{i + 1}}</td>
            <td>{{ line.title }}</td>
            <td>{{ line.views }}</td>
            <td>{{ line.created | date: "MMMM, y" }}</td>
            <td fxLayout="row" fxLayoutAlign="center">
              <fa-icon
                fxFlex="25%"
                style="color: green; margin-right: 5px"
                [icon]="faEdit"
              ></fa-icon>
              <fa-icon
                fxFlex="25%"
                style="color: red"
                [icon]="faDelete"
              ></fa-icon>
            </td>
          </ng-container>
        </tr>
      </table>

</app-card>




<div class="content">
    <router-outlet></router-outlet>
</div>



</div>