.content{
    background-color: #0084ff;
    z-index: 99;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 15px;
    margin: 0;
    width: 100%;
    min-height: 50px;
    color: white;
   // padding-left: 14.5%;
}


.dropdown{
    font-size: 18px;
}


.admin{
    margin-right: 5px;
    font-weight: 600;
}

h2{
    cursor: pointer;
}

