<ng-container >
    <app-toolbar></app-toolbar>
    <div class="content" fxLayoutAlign="center">
      <div
        class="blog-grid"
        fxFlex="75"
        fxFlex.lt-md="100"
        fxLayout="row wrap"
        fxLayoutAlign="flex-start"
        fxLayoutAlign.lt-md="center"
      >
        <ng-container *ngFor="let project of projects">
          <app-card
            fxFlex.lt-lg="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="0 1 calc(100% - 32px)"
            fxFlex="0 1 calc(33.3% - 32px)"
            padding="0px"
            (click)="gotoProject(project)"
          >

  
            <div body>
              <div class="title" fxLayout="column">
                <h2>{{project.title}}</h2>
                <div class="subtitle" fxLayout="row" fxLayoutAlign="flex-start">
                  <span>Stars: {{project.stars}}</span>
                  <span>Forks: {{project.forks}}</span>
                </div>
              </div>
  
              <div class="description">
                {{ project.description ?? 'No Description' }}
              </div>
            </div>
          </app-card>
        </ng-container>
  
        <div class="pagination"></div>
      </div>
  
    </div>
  </ng-container>
  
  <ng-template #noPosts> </ng-template>
  